Click==7.0
Jinja2==2.10
MarkupSafe==1.1.0
Unidecode==1.0.23
Werkzeug==0.14.1
chardet==2.2.1
colorama==0.2.5
command-not-found==0.3
feedparser==5.2.1
html5lib==0.999
itsdangerous==1.1.0
language-selector==0.1
markovify==0.7.1
mecab-python3==0.7
oauthlib==2.1.0
pygobject==3.12.0
python-apt===0.9.3.5ubuntu2
requests==2.2.1
requests-oauthlib==1.0.0
six==1.5.2
ufw===0.34-rc-0ubuntu2
urllib3==1.7.1
wheel==0.24.0
